<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My E-Commerce Site</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS -->
</head>
<body>

    <!-- Include the header -->
    <%- include('partial/header') %>

    <main>
        <!-- Main content will be injected here -->
        <h2>Welcome to the E-Commerce Site</h2>
    </main>

    <footer>
         <!-- Include the header -->
    <%- include('partial/footer') %>
        <p>&copy; 2024 My E-Commerce Site</p>
    </footer>
</body>
</html>
